@font-face {
    font-family: 'obaFont';
    src:  url(../assets/obafont.ttf);
  }
  
html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-red: #00b300;
    --primary-white: #fff;
    --primary-black: #000;
    --primary-grey: rgb(150, 150, 150);
}

main {
    margin-bottom: 7em;
}

/* ------------ */
/* HEADER STYLE */
/* ------------ */

header {
    border-bottom: 2px solid var(--primary-red);
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1em; */
    flex-wrap: wrap;
}

input[type="checkbox"] {
    display: none;
}

header label {
    align-self: center;
    cursor: pointer;
}

header label:hover {
    filter: drop-shadow(3px 3px 3px #aaa);
}

header label img {
    width: 6em;
    padding: 1em;
}

h1 {
    margin-left: .5em;
}

header a {
    text-decoration: none;
    color: var(--primary-black);
}

h1 span {
    font-family: 'obaFont', Arial;
    margin-top: .45em;
}

h1 span:nth-child(2) {
    font-size: 2em;
    margin-left: .05em;
}

h1 span:first-child, h1 span:last-child {
    display: inline-block;
    transform: rotate(-90deg);
    color: var(--primary-red);
    font-size: 1.6em;
}

h1 span:last-child {
    margin-left: -.1em ;
}

/* ------------- */
/* INPUT CHECKED */
/* ------------- */

header input[type="checkbox"]:checked ~ form {
    display: flex;
    height: 4em;
} 

/* ---------- */
/* FORM STYLE */
/* ---------- */

header form {
    display: flex;
    flex-basis: 100%;
    height: 0em;
    transition: .5s;
    overflow: hidden;
}

header form input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-red);
    border-top: 2px solid var(--primary-red);
    padding: 2em;
    min-height: 5em;
    max-height: 5em;
}

header form button {
    background-color: var(--primary-red);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-red);
    color: var(--primary-white);
    min-height: 5em;
    max-height: 5em;
    padding: 2em;
    cursor: pointer;
}

/* ---------- */
/* MAIN STYLE */
/* ---------- */

li {
    list-style-type: none;
}

h2 {
    color: var(--primary-red);
}

.results {
    max-width: 1100px;
    margin: 0 auto;
}

/* ---------------- */
/* ZERO STATE STYLE */
/* ---------------- */

section:nth-of-type(2) h2 {
    color: var(--primary-red);
}

main section:nth-of-type(1) {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section:nth-of-type(1) h2 {
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
    color: var(--primary-red);
}

main section:nth-of-type(1) p {
    text-align: center;
}

/* --------------- */
/* API DATA LOADED */
/* --------------- */

ul:nth-of-type(2) li {
    display: flex;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
    border-bottom: 1px solid #000;
    max-width: 100vw;
    background-color: var(--primary-white);
}

ul:nth-of-type(2) li img {
    order: 1;
    width: 10em;
    height: 14em;  
    object-fit: cover;
}

ul:nth-of-type(2) li div {
    order: 2;
    padding: 0 1em;
    position: relative;
    width: 100%;
}

ul:nth-of-type(2) h2 {
    font-size: 1.2em;
    font-family: 'obaFont', Arial;
    color: var(--primary-red);
    position: static;
    transform: none;
}

ul:nth-of-type(2) li div p {
    padding-bottom: 4em;
}

.results {
    padding: 1em;
}

ul:nth-of-type(2) a {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--primary-red);
    background-color: var(--primary-white);
    border: 2px solid var(--primary-red);
    padding: .5em;
    text-decoration: none;
    font-family: 'obaFont';
    text-transform: uppercase;
}

ul:nth-of-type(2) a:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
}

/* ----------------- */
/* LOADING ANIMATION */
/* ----------------- */

ul:nth-of-type(1) {
    width: 8em;
    height: 8em;
    margin-top: 5em;
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

ul:nth-of-type(1) li:first-child {
    margin: 0 auto;
}

ul:nth-of-type(1) li img {
    width: 6em;
}

ul:nth-of-type(1) li:not(:first-child) {
    background: var(--primary-red);
    width: 1em;
    height: 1em;
    border-radius: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul:nth-of-type(1) li:nth-child(2) {
    transform: translateX(-200%);
    animation: load 1s infinite;
}

ul:nth-of-type(1) li:nth-child(3) {
    transform: translateX(-200%);
    animation: load2 1s infinite;
}

ul:nth-of-type(1) li:nth-child(4) {
    transform: translateX(-50%) scale(1.3);
    animation: load3 1s infinite;
}

ul:nth-of-type(1) li:nth-child(5) {
    transform: translateX(100%);
    animation: load4 1s infinite;
}

@keyframes load {
    from {
        transform: translateX(-200%) scale(.5);
    }

    to {
        transform: translateX(-200%) scale(1);
    }
}

@keyframes load2 {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(-50%) scale(1.3);
    }
}

@keyframes load3 {
    from {
        transform: translateX(-50%) scale(1.3);
    }

    to {
        transform: translateX(100%) scale(1);
    }
}

@keyframes load4 {
    from {
        transform: translateX(100%) scale(1);
    }

    to {
        transform: translateX(100%) scale(.5);
    }
}

.displayNone {
    display: none!important;
}

section {
    width: 80vw;
    margin: 2em auto;
    max-width: 300px;
    bottom: 0;
    left: 8em
}

/* ------------------- */
/* Pijl naar rekentool */
/* ------------------- */

section:nth-of-type(3) {
    position: fixed;
    bottom: 3em;
}

section:nth-of-type(3) p {
    color: var(--primary-red);
    font-family: 'obaFont';
    max-width: 200px;
    text-align: center;
}

section:nth-of-type(3) img {
    width: 15em;
    transform: rotate(-15deg);
}

/* ------------- */
/* REKENMACHINE */
/* ------------- */

.calcButton {
    position: fixed;
    background-color: var(--primary-white);
    outline: none;
    box-shadow: 1px 1px 5px #000;
    padding: .5em;
    color: var(--primary-white);
    border-radius: .2em;
    bottom: 1em;
    left: 1em;
    transition: 1s;
    transition-property: left;
    border: 2px solid var(--primary-red);
    cursor: pointer;
}

.calcButton:hover {
    transform: scale(1.1);
    background-color: var(--primary-red);
    border: 2px solid var(--primary-white);
}

.calcButton img {
    width: 3em;
}

main form label {
    border-bottom: 1px solid var(--primary-white);
    margin-bottom: 1em;
    cursor: pointer;
}

main form input {
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: .5em;
    border: 1px solid var(--primary-black);
    outline: none;
    border-radius: .5em;
}

main form button {
    outline: none;
    padding: 1em;
    background-color: var(--primary-white);
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
    border-radius: .5em;
    box-shadow: 2px 2px 5px #ccc;
    cursor: pointer;
}

main form button:hover {
    color: var(--primary-white);
    border: 1px solid var(--primary-white);
    background: var(--primary-red);
}

main form {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    padding: 1em;
    background-color: var(--primary-white);
    border: 2px solid var(--primary-red);
    border-radius: .2em;
    color: var(--primary-black);
    position: fixed;
    bottom: 1em;
    left: -18em;
    transition: 1s;
    max-width: 18em;
    transition-property: left;
    border-radius: .5em;
}

main form h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    color: var(--primary-red);
}

#calculator:checked ~ label {
    left: 20em;
}

#calculator:checked ~ form {
    left: 1em;
}


/* ---------- */
/* BIG SCREEN */
/* ---------- */

@media only screen and (min-width: 720px) {
    ul:nth-of-type(2) {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin: 0 auto;
        justify-content: space-between;
    }

    ul:nth-of-type(2) li {
        flex-basis: 49%;
    }
  }